.navb{
    height:0.5px;
    background-color:rgb(221, 153, 64);
    padding:30px;
    border-radius:15px;
    border-style:solid black;
    font-size: 3ch;
}
.rotatei{
    height: 300px;
    width: 300px;
}
body{
    background-image: url(task7bg2.jpg);

}
.logo{
    height: 60px;;
    width: 70px;
}
h1{
    text-align: center;
}
img{
    margin-right: 160px;
}
#hom{
    margin-left: 160px;
}
a{
    margin-right: 160px;
}
#Home{
    margin-top: 100px;
    text-align: center;
}
#About{
    margin-top: 100px;
}
ul{ margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 100px;
    }

#p1{
        margin-left: 50px;
        margin-right:50px;
        margin-top: 20px;
        height:250px;
        width: 250px;;

    }
#p2{    height:250px;
        width: 250px;;
        margin-right:50px;}
#p3{    height:250px;
        width: 250px;;
        margin-right:50px;
        }
#p4{
    height:250px;
    width: 250px;;
    margin-right: 50px;
    
}
#dow{
    margin-left:600px
}
.btn{
    transition: transform 0.3s;
}
.btn:hover{
    transform: translateY(-10px)
}
@keyframes slide{
    from{
        transform: translateX(-300px);
    }
    to{
        transform:translate(0);
    }
}

@keyframes rotate{
    0%{
        transform:rotateY(0);
        color: violet;
    }
    25%{
        color:indigo;
    }
    50%{
        color:yellow;
    }
    75%{
        color:orange;
    }
    100%{
        transform:rotateY(360deg);
        color: red;
    }
}
.rotatei{
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    
}
.rotate{
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function:infinite;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;}
@keyframes rotates{
    from{
        transform:rotateY(0);
    }
    to{
        transform:rotateY(360deg);
    }
}
img{
    animation-name:rotates;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay:2s;
    animation-iteration-count:1;
    animation-direction:normal;
}
.lin{
    animation-name:slide;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
}
.rotate{
text-shadow: 2px 2px grey;
}
img{
    box-shadow: 7px 7px grey;

}
.project{
    animation-name:slide;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
}
.me{
    animation-name:slide;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
}
footer{
    padding: 20px;
}
h2{
    text-align: center;
}
span{
    height: 2px;
    width: 2px;
}


